@import './nav.scss';
@import './carousel.scss';
@import './buttons.scss';
@import './gallery.scss';

$color_1: #222;
$color_2: white;
$color_3: #ae5fce;
$color_4: #1b1b1b;
$color_5: #00c853;
$color_6: #4279a3;
$color_7: #aaaaaa;
$color_8: var(--color);
$color_9: #fff;
$font_family_1: 'Poppins', sans-serif;
$border_color_1: var(--hover);


@keyframes "pulse" {
	0% {
		box-shadow: 0 0 0 0 var(--hover);
	}
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
html {
	height: 100%;
	width: 100%;
	font-family: $font_family_1;
	color: $color_1;
}
body {
	height: 100%;
	width: 100%;
	font-family: $font_family_1;
	color: $color_1;
}



.choosebrand {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
	hr {
		border-top: 2px solid black;
		width: 95%;
		margin-top: 0.3rem;
		margin-bottom: 1rem;
	}
}
.about {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
	hr {
		border-top: 2px solid black;
		width: 95%;
		margin-top: 0.3rem;
		margin-bottom: 1rem;
	}
}
hr.beforeabout {
	border-top: 2px solid black;
	width: 95%;
	margin-top: 0.3rem;
	margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
	.line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}
	nav {
		position: relative;
	}
	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		z-index: 2;
	}
	.nav-links {
		position: fixed;
		background: black;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -10%);
		-webkit-clip-path: circle(100px at 90% -10%);
		transition: all 1s ease-out;
		pointer-events: none;
		li {
			opacity: 0;
			a {
				font-size: 25px;
			}
			&:nth-child(1) {
				transition: all 0.5s ease 0.2s;
			}
			&:nth-child(2) {
				transition: all 0.5s ease 0.4s;
			}
			&:nth-child(3) {
				transition: all 0.5s ease 0.6s;
			}
		}
	}
	.nav-links.open {
		clip-path: circle(1000px at 90% -10%);
		-webkit-clip-path: circle(1000px at 90% -10%);
		pointer-events: all;
	}
	.landing {
		flex-direction: column;
	}
	li.fade {
		opacity: 1;
	}
}
